<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/lib/air-datepicker.min.css" />
    <link rel="stylesheet" href="/stylesheets/custom.css" />
    <link rel="manifest" href="/manifest.json" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/lib/jquery-3.6.4.min.js"></script>
    <script src="/lib/air-datepicker.min.js"></script>
    <script type="module" src="/javascripts/indexeddb.js"></script>
    <script type="module" src="/javascripts/nickname-collector.js"></script>
    <% scripts.forEach(scriptName => { %>
    <script type="module" src="/javascripts/<%= scriptName %>" defer></script>
    <% }) %>
  </head>
  <body>
    <div
      class="h-screen w-screen full-dynamic-viewport-height full-dynamic-viewport-width flex flex-col"
    >
    <div id="nickname-collector" class="w-full h-full z-50 absolute hidden justify-center items-center backdrop-brightness-75 backdrop-blur-md blur-0">
      <div class="w-full max-w-sm mx-5 bg-base-100 p-4 rounded-lg flex flex-col items-center">
        <p class="text-xl">Enter Nickname:</p>
        <input type="text" placeholder="Nickname..." class="input input-bordered w-full my-6" />
        <button class="btn btn-primary btn-block"><p class="text-lg">Save</p></button>
      </div>
    </div>
      <header
        class="navbar sm:justify-between justify-center items-center flex bg-base-300"
      >
        <ul class="menu menu-horizontal px-1">
          <li class="mr-1">
            <a href="/" class="px-3 py-2<%= ["/", "/nearby"].includes(page) ? " active" : "" %>">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="h-6 -mr-2"
              >
                <path
                  fill="currentColor"
                  d="M6 19h3v-6h6v6h3v-9l-6-4.5L6 10v9Zm0 2q-.825 0-1.413-.588T4 19v-9q0-.475.213-.9t.587-.7l6-4.5q.275-.2.575-.3T12 3.5q.325 0 .625.1t.575.3l6 4.5q.375.275.588.7T20 10v9q0 .825-.588 1.413T18 21h-5v-6h-2v6H6Zm6-8.75Z"
                />
              </svg>
              <p class="text-xl">Home</p></a
            >
          </li>
          <li class="mx-1">
            <a href="/add" class="px-3 py-2<%= page === "/add" ? " active" : "" %>">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="h-6 -mr-2"
              >
                <path
                  fill="currentColor"
                  d="M12 19q-.425 0-.713-.288T11 18v-5H6q-.425 0-.713-.288T5 12q0-.425.288-.713T6 11h5V6q0-.425.288-.713T12 5q.425 0 .713.288T13 6v5h5q.425 0 .713.288T19 12q0 .425-.288.713T18 13h-5v5q0 .425-.288.713T12 19Z"
                />
              </svg>
              <p class="text-xl">
                Add<span class="hidden sm:inline"> Bird</span> Sighting
              </p></a
            >
          </li>
        </ul>
        <a href="/" class="btn btn-ghost hidden sm:inline-flex mr-0.5"
          ><p class="text-xl">Bird Watcher™</p></a
        >
      </header>
      <div class="grow">
