<%- include('partials/header'); -%>
<div class="flex flex-col items-center w-full h-full">
  <div class="flex items-center justify-center w-full bg-base-200">
    <div class="hidden sm:flex justify-center items-center grow">
      <p class="text-2xl mb-2 mt-4">Bird Sightings List</p>
    </div>
    <ul class="menu menu-horizontal px-1 pt-4">
      <li class="mr-1">
        <a href="/" class="px-3 py-2 active !rounded-b-none">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="h-6 -mr-2"
          >
            <path
              fill="currentColor"
              d="m13 12.175l2.25 2.25q.275.275.275.688t-.275.712q-.3.3-.713.3t-.712-.3L11.7 13.7q-.35-.35-.525-.775T11 12V9q0-.425.288-.713T12 8q.425 0 .713.288T13 9v3.175ZM12 4q.425 0 .713.288T13 5q0 .425-.288.713T12 6q-.425 0-.713-.288T11 5q0-.425.288-.713T12 4Zm8 8q0 .425-.288.713T19 13q-.425 0-.713-.288T18 12q0-.425.288-.713T19 11q.425 0 .713.288T20 12Zm-8 6q.425 0 .713.288T13 19q0 .425-.288.713T12 20q-.425 0-.713-.288T11 19q0-.425.288-.713T12 18Zm-6-6q0 .425-.288.713T5 13q-.425 0-.713-.288T4 12q0-.425.288-.713T5 11q.425 0 .713.288T6 12Zm6 10q-2.075 0-3.9-.788t-3.175-2.137q-1.35-1.35-2.137-3.175T2 12q0-2.075.788-3.9t2.137-3.175q1.35-1.35 3.175-2.137T12 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T22 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T12 22Zm0-2q3.35 0 5.675-2.325T20 12q0-3.35-2.325-5.675T12 4Q8.65 4 6.325 6.325T4 12q0 3.35 2.325 5.675T12 20Zm0-8Z"
            />
          </svg>
          <p class="text-xl">Recent</p></a
        >
      </li>
      <li class="mx-1">
        <a href="/nearby" class="px-3 py-2 !rounded-b-none">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="h-6 -mr-2"
          >
            <path
              fill="currentColor"
              d="M12 12q.825 0 1.413-.588T14 10q0-.825-.588-1.413T12 8q-.825 0-1.413.588T10 10q0 .825.588 1.413T12 12Zm0 7.35q3.05-2.8 4.525-5.088T18 10.2q0-2.725-1.738-4.462T12 4Q9.475 4 7.737 5.738T6 10.2q0 1.775 1.475 4.063T12 19.35ZM12 22q-4.025-3.425-6.012-6.362T4 10.2q0-3.75 2.413-5.975T12 2q3.175 0 5.588 2.225T20 10.2q0 2.5-1.988 5.438T12 22Zm0-11.8Z"
            />
          </svg>
          <p class="text-xl">Nearby</p></a
        >
      </li>
    </ul>
  </div>
  <div
    class="overflow-x-scroll w-full table-height flex justify-start sm:justify-center items-start"
  >
    <table
      class="table table-zebra w-full table-compact md:max-w-2xl lg:max-w-5xl"
    >
      <thead>
        <tr>
          <th class="sticky top-0 !left-auto">Your posts</th>
          <th class="sticky top-0">Identification</th>
          <th class="sticky top-0">Time seen</th>
          <th class="sticky top-0">User</th>
          <th class="sticky top-0"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="hidden" id="initial-row">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <th class="flex justify-center items-center">
            <a class="btn btn-accent btn-xs">Details</a>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%- include('partials/footer'); -%>
